{% extends 'base.html.twig' %}

{% block title %}Créer un lieu{% endblock %}

{% block body %}
    <div class="min-h-screen flex items-start justify-center pt-20">
        <div class="w-full max-w-md shadow-lg rounded-xl p-8 bg-gray-50">
            {% if action == 'add' %}
                <h1 class="text-2xl font-bold mb-6 text-center text-black">Ajouter un lieu</h1>
            {% else %}
                <h1 class="text-2xl font-bold mb-6 text-center text-black">Modifier un lieu</h1>
            {% endif %}
            {{ form_start(form) }}
            <div class="space-y-4">
                {{ form_row(form.nom, {
                    label: 'Nom',
                    label_attr: {'class': 'text-black'},
                    'attr': {'class': 'w-full px-4 py-2 border border-gray-300 rounded-md bg-white text-black'}
                }) }}
                {{ form_row(form.Ville, {
                    label: 'Ville',
                    label_attr: {'class': 'text-black'},
                    'attr': {'class': 'w-full px-4 py-2 border border-gray-300 rounded-md bg-white text-black'}
                }) }}
                {{ form_row(form.rue, {
                    label: 'Rue',
                    label_attr: {'class': 'text-black'},
                    'attr': {'class': 'w-full px-4 py-2 border border-gray-300 rounded-md bg-white text-black'}
                }) }}
            </div>
            <div class="mt-6 text-center">
                <button class="bg-blue-600 hover:bg-blue-700 text-white font-semibold px-6 py-2 rounded-md transition duration-200">
                    Ajouter
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
